{% extends "base.html" %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->

{% block content %}

<section class="advt-post bg-gray py-5">
  <div class="container">
    <div class="row bg-white p-5">
      <div class="col-lg-8">
        <h2>Are you sure to delete this Ad Post ?</h2>
        <p>Once you delete your Ad Post then you can not recover.</p>
        <form method="post">
          {% csrf_token %}

          <button type="submit" class="btn btn-primary d-block mt-2">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
