{% load static %}

<footer class="footer section section-sm">
  <div class="container">
    <div class="row">
      <!-- about -->
      <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
        <div class="block about">
          <img src="{% static 'images/logo-footer.png' %}" alt="logo" />
          <p class="alt-color">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
      <!-- end about -->

      <!-- top navbar menus -->
      <div class="col-lg-2 offset-lg-1 col-md-3 col-6 mb-4 mb-lg-0">
        <div class="block">
          <h4>Site Pages</h4>
          <ul>
            <li><a href="{% url 'postad:index' %}">Home</a></li>
            <li>
              <a href="{% url 'postad:adposts' %}">Explore Ads</a>
            </li>
            <li><a href="{% url 'postad:trending_ads' %}">Trending Ads</a></li>
            <li><a href="terms-condition.html">Terms & Conditions</a></li>
            <li><a href="dashboard-pending-ads.html">About Us</a></li>
          </ul>
        </div>
      </div>
      <!-- end top navbar menus -->

      <!-- Dashboard -->
      <div class="col-lg-2 col-md-3 offset-md-1 offset-lg-0 col-6 mb-4 mb-md-0">
        <div class="block">
          <h4>Dashboard</h4>
          <ul>
            <li><a href="{% url 'dashboard:profile' %}">Profile</a></li>
            <li><a href="{% url 'dashboard:followers' %}">Followers</a></li>
            <li><a href="{% url 'dashboard:following' %}">Following</a></li>
            <li><a href="{% url 'dashboard:my_adposts' %}">My Ads</a></li>
            <li><a href="{% url 'dashboard:bookmark_adposts' %}">Favourite Ads</a></li>
            <li><a href="{% url 'dashboard:user_contacts' %}">Contacts</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </div>
      </div>
      <!-- Dashboard -->

      <!-- Promotion -->
      <div class="col-lg-4 col-md-7">
        <div class="block-2 app-promotion">
          <div class="mobile d-flex align-items-center">
            <a href="{% url 'postad:index' %}">
              <img src="{% static 'images/footer/phone-icon.png' %}" alt="mobile-icon" />
            </a>
            <p class="mb-0">Get the Dealsy Mobile App and Save more</p>
          </div>
          <div class="download-btn d-flex my-3">
            <a href="{% url 'postad:index' %}"><img src="{% static 'images/apps/google-play-store.png' %}" class="img-fluid" alt="" /></a>
            <a href="{% url 'postad:index' %}" class="ml-3"><img src="{% static 'images/apps/apple-app-store.png' %}" class="img-fluid" alt="" /></a>
          </div>
        </div>
      </div>
      <!-- end Promotion -->
    </div>
  </div>
</footer>

<!-- Footer Bottom -->
<footer class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center text-lg-left mb-3 mb-lg-0">
        <div class="copyright">
          <p>
            Copyright &copy;
            <script>
              var CurrentYear = new Date().getFullYear();
              document.write(CurrentYear);
            </script>
            . Designed & Developed by
            <a class="text-white" href="https://www.linkedin.com/in/kingarunesh/">Arunesh kumar</a>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Social Icons -->
        <ul class="social-media-icons text-center text-lg-right">
          <li>
            <a class="fa fa-facebook" href="https://www.facebook.com/themefisher"></a>
          </li>
          <li>
            <a class="fa fa-twitter" href="https://www.twitter.com/themefisher"></a>
          </li>
          <li>
            <a class="fa fa-pinterest-p" href="https://www.pinterest.com/themefisher"></a>
          </li>
          <li>
            <a class="fa fa-github-alt" href="https://www.github.com/themefisher"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Container End -->
  <!-- To Top -->
  <div class="scroll-top-to">
    <i class="fa fa-angle-up"></i>
  </div>
</footer>
