{% load static %}

<header>
  <!-- <div class="container"> -->
  <div style="width: 90%; margin: auto">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand" href="{% url 'postad:index' %}">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- main menu -->
            <ul class="navbar-nav ml-auto main-nav">
              <li class="nav-item @@home">
                <a class="nav-link" href="{% url 'postad:index' %}">Home</a>
              </li>
              <li class="nav-item @@home">
                <a class="nav-link" href="{% url 'postad:adposts' %}">Explore Ads</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Trending Ad's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'publicprofile:user_list' %}">Users</a>
              </li>
            </ul>
            <!-- end main menu -->
            <ul class="navbar-nav ml-auto mt-10">
              {% if user.is_authenticated %}

              <!-- test -->
              <!-- <li class="nav-item mr-2 bg-dark">
                <a class="nav-link" href="" style="font-size: 1rem"><i class="fa fa-bell-o"></i></a>
              </li> -->
              <!-- test -->

              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'dashboard:profile' %}">Dashboard</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white add-button" href="{% url 'postad:create_postad' %}"><i class="fa fa-plus-circle"></i> SELL</a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'accounts:register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
