{% load static %}

<!--  -->

{% load custom_tags %}

<!--  -->

<header>
  <!-- <div class="container"> -->
  <div style="width: 90%; margin: auto">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light navigation">
          <a class="navbar-brand" href="{% url 'postad:index' %}">
            <img src="{% static 'images/logo.png' %}" alt="" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- main menu -->
            <ul class="navbar-nav ml-auto main-nav">
                <!-- home -->
              <li 
              {% if '/' == request.path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'postad:index' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
              </li>

              <!-- ads -->
              <li 
              {% if 'adposts' in request.path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'postad:adposts' %}"><i class="bi bi-file-earmark-post"></i> Explore Ads</a>
              </li>

              <!-- trending ads -->
              <li 
              {% if 'trending-ads' in request.path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'postad:trending_ads' %}"><i class="bi bi-fire"></i> Trending Ads</a>
              </li>

              <!-- Categories -->
                <li class="nav-item dropdown dropdown-slide @@dashboard">
                    <a
                      class="nav-link dropdown-toggle"
                      data-toggle="dropdown"
                      href="#!"
                      ><i class="bi bi-tags"></i> Categories<span><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% categories as categories %}
                        <!--  -->
                        {% for category in categories %}
                        <li>
                            <a
                                class="dropdown-item @@dashboardPage"
                                href="{% url 'postad:category' pk=category.id slug=category.slug %}"
                            >
                                {{category}}
                            </a>
                        </li>
                        {% endfor %}
        
                    </ul>
                </li>

            </ul>
            <!-- end main menu -->
            <ul class="navbar-nav ml-auto mt-10">
              {% if user.is_authenticated %}

              

              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'dashboard:profile' %}">Dashboard</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white add-button" href="{% url 'postad:create_postad' %}"><i class="fa fa-plus-circle"></i> SELL</a>
              </li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link login-button" href="{% url 'accounts:register' %}">Register</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
