{% extends "base.html" %}
<!--  -->

{% block content %}

<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Ads</h3>
      </div>
    </div>
  </div>
</section>

<section class="dashboard section">
  <!-- Container Start -->
  <!-- <div class="container"> -->
  <div style="width: 85%; margin: auto">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-3">{% include "includes/public-user-profile-sidebar.html" %}</div>
      <div class="col-lg-9">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h2 class="mb-5">({{total_adpost}}) Ads belongs to "{{profile.first_name}} {{profile.last_name}}"</h2>

          <!-- TABLE -->
          {% if adposts %}
          <div class="table-responsive">
            <table class="table product-dashboard-table">
              <thead>
                <tr>
                  <th>IMAGE</th>
                  <th>TITLE</th>
                  <th>CATEGORY</th>
                  <th>STATUS</th>
                  <th>VISIT</th>
                </tr>
              </thead>
              <tbody>
                {% for post in adposts %}
                <tr>
                  <!-- image -->
                  <td class="product-thumb p-1 w-20" style="min-width: 150px">
                    <img src="{{post.image1.url}}" alt="image description" width="100px" height="100px" style="border-radius: 10%" />
                  </td>

                  <!-- title -->
                  <td class="product-details w-30" style="min-width: 250px">
                    <h3 class="title ml-1 mr-2" style="font-weight: bold">
                      <a href="{% url 'postad:postad_detail' pk=post.id slug=post.slug %}"> {{post.title}} </a>
                    </h3>
                  </td>

                  <!-- category -->
                  <td class="product-details w-20" style="min-width: 150px">
                    <span class="categories">{{post.category.title}}</span>
                  </td>

                  <!-- status of ad -->
                  <td class="product-details w-10" style="min-width: 150px">
                    {% if not post.sold %}
                    <span class="status active">Active</span>
                    {% else %}
                    <span class="status" style="color: red">Sold</span>
                    {% endif %}
                  </td>

                  <!-- visit -->
                  <td class="action w-10" data-title="Action" style="min-width: 100px">
                    <div class="">
                      <ul class="list-inline justify-content-center">
                        <li class="list-inline-item">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="View"
                            class="view"
                            href="{% url 'postad:postad_detail' pk=post.id slug=post.slug %}"
                          >
                            <i class="fa fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h5 style="color: red">Oop's, {{profile.first_name}} {{profile.last_name}} do not have any ad yet 😞</h5>
          {% endif %}
          <!-- END TABLE -->
        </div>
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
