{% extends "base.html" %}
<!--  -->

{% block content %}

<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Following</h3>
      </div>
    </div>
  </div>
</section>

<section class="dashboard section">
  <!-- Container Start -->
  <!-- <div class="container"> -->
  <div style="width: 85%; margin: auto">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-3">{% include "includes/public-user-profile-sidebar.html" %}</div>
      <div class="col-lg-9">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h2 class="mb-5">"{{profile.first_name}} {{profile.last_name}}" Following</h2>
          {% if followings %}
          <div class="table-responsive">
            <table class="table product-dashboard-table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th class="text-center">Username</th>
                  <th class="text-center">Date</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for following in followings %}
                <tr>
                  <!-- image -->
                  <td class="product-thumb p-1 w-25" style="min-width: 150px">
                    {% if following.following.image %}
                    <img src="{{following.following.image.url}}" alt="image description" width="100px" height="100px" style="border-radius: 50%" />
                    {% endif %}
                  </td>

                  <!-- name -->
                  <td class="product-details text-center w-25" style="min-width: 200px">
                    <h3 class="title ml-2" style="font-weight: bold">
                      <a href="{% url 'publicprofile:public_profile' pk=following.following.id %}">
                        {{following.following.first_name}} {{following.following.last_name}}
                      </a>
                    </h3>
                  </td>

                  <!-- date -->
                  <td class="w-25 text-center" style="min-width: 150px">
                    <div class="text-center">{{following.date|date:'d M o'}}</div>
                  </td>

                  <!-- action -->
                  <td class="action w-25 text-center" data-title="Action" style="min-width: 150px">
                    <div class="">
                      <ul class="list-inline justify-content-center">
                        <li class="list-inline-item">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="View"
                            class="view"
                            href="{% url 'publicprofile:public_profile' pk=following.following.id %}"
                          >
                            <i class="fa fa-eye"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h5 style="color: red">☹️ You don't have any bookmark post.</h5>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
