{% extends "base.html" %}
<!--  -->

{% block content %}

<section class="dashboard section">
  <!-- Container Start -->
  <!-- <div class="container"> -->
  <div style="width: 85%; margin: auto">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-3">{% include "includes/public-user-profile-sidebar.html" %}</div>
      <div class="col-lg-9">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h2 class="mb-5">Followers Ads</h2>
          {% if followers %}
          <table class="table table-responsive product-dashboard-table">
            <thead>
              <tr>
                <th>Image</th>
                <th>Username</th>
                <th>Date</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for follower in followers %}
              <tr>
                <td class="product-thumb">
                  {% if follower.user.image %}
                  <img width="80px" height="auto" src="{{follower.user.image.url}}" alt="image description" />
                  {% endif %}
                </td>
                <td class="product-details">
                  <h3 class="title">{{follower.user.username}}</h3>
                  <span><strong>Started on: </strong><time>{{follower.date|date:'d M o'}}</time> </span>
                </td>
                <td class="action" data-title="Action">
                  <div class="">
                    <ul class="list-inline justify-content-center">
                      <li class="list-inline-item">
                        <a
                          data-toggle="tooltip"
                          data-placement="top"
                          title="View"
                          class="view"
                          href="{% url 'publicprofile:public_profile' pk=follower.user.id %}"
                        >
                          <i class="fa fa-eye"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h5 style="color: red">☹️ You don't have any bookmark post.</h5>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
