{% extends "base.html" %}
<!--  -->
<!--  -->

{% block content %}

<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</section>

<!-- arunesh -->

<section class="dashboard section">
  <!-- Container Start -->
  <!-- <div class="container"> -->
  <div style="width: 85%; margin: auto">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-3">{% include "includes/user-profile-sidebar.html" %}</div>
      <div class="col-lg-9">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h2 class="mb-5">Users Contact List</h2>

          <!-- table -->
          {% if contacts %}
          <div class="table-responsive">
            <table class="table product-dashboard-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>USER</th>
                  <th>SUBJECT</th>
                  <th>MESSAGE</th>
                  <th>DATE</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts %}
                <tr>
                  <!-- id -->
                  <td class="product-thumb p-1 w-10" style="min-width: 100px">{{forloop.counter}}</td>

                  <!-- user info -->
                  <td class="product-details w-20" style="min-width: 100px">
                    <h3 class="title ml-1 mr-2" style="font-weight: bold">
                      <a href="{% url 'publicprofile:public_profile' pk=contact.sender_user.id %}">
                        {{contact.sender_user.first_name}} {{contact.sender_user.last_name}}
                      </a>
                    </h3>
                  </td>

                  <!-- subject -->
                  <td class="product-details w-15" style="min-width: 100px"><span class="categories">{{contact.subject}}</span></td>

                  <!-- message -->
                  <td class="product-details w-45 p-2" style="min-width: 250px"><span class="categories">{{contact.message}}</span></td>

                  <!-- date -->
                  <td class="product-details w-10" style="min-width: 100px"><span class="categories">{{contact.date|date:'d M o'}}</span></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h5 style="color: red">☹️ You don't have any bookmark post.</h5>
          {% endif %}
          <!-- end table -->
        </div>

        <!-- pagination -->
        {% include "includes/pagination.html" %}
        <!-- pagination -->
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
