{% extends "base.html" %}
<!--  -->

{% block content %}

<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</section>

<section class="dashboard section">
  <!-- Container Start -->
  <!-- <div class="container"> -->
  <div style="width: 85%; margin: auto">
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-3">{% include "includes/user-profile-sidebar.html" %}</div>
      <div class="col-lg-9">
        <!-- Recently Favorited -->
        <div class="widget dashboard-container my-adslist">
          <h2>{{total_ads}} My Ads</h2>
          <hr />

          <!-- table -->
          {% if adposts %}
          <div class="table-responsive">
            <table class="table product-dashboard-table">
              <thead>
                <tr>
                  <th>IMAGE</th>
                  <th>SHORT DETAILS</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                {% for post in adposts %}
                <tr>
                  <!-- image -->
                  <td class="product-thumb p-1 w-20" style="min-width: 150px">
                    <img src="{{post.image1.url}}" alt="image description" width="100px" height="100px" style="border-radius: 10%" />
                  </td>

                  <!-- ad short detail -->
                  <td class="product-details w-60" style="min-width: 400px">
                    <!-- title -->
                    <h3 class="title ml-1 mr-2" style="font-weight: bold">
                      <a href="{% url 'postad:postad_detail' pk=post.id slug=post.slug %}">{{post.title}}</a>
                    </h3>

                    <!-- category -->
                    <span class="location"><strong>Category : </strong>{{post.category.title}}</span>

                    <!-- status -->
                    {% if not post.sold %}
                    <span class="status active"><strong>Status : </strong>Active</span>
                    {% else %}
                    <span class="status" style="color: red"><strong>Status : </strong>Sold</span>
                    {% endif %}

                    <!-- views -->
                    <span class="location"><strong>Views : </strong>{{post.hits}}</span>

                    <!-- date -->
                    <span><strong>Posted on : </strong><time>{{post.publish_date|date:'d-M-o'}}</time> </span>
                  </td>

                  <!-- action -->
                  <td class="action w-20" data-title="Action" style="min-width: 200px">
                    <div class="">
                      <ul class="list-inline justify-content-center">
                        <li class="list-inline-item">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="View"
                            class="view"
                            href="{% url 'postad:postad_detail' pk=post.id slug=post.slug %}"
                          >
                            <i class="fa fa-eye"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Edit"
                            class="edit"
                            href="{% url 'postad:update_postad' pk=post.id slug=post.slug %}"
                          >
                            <i class="fa fa-pencil"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Delete"
                            class="delete"
                            href="{% url 'postad:delete_adpost' pk=post.id slug=post.slug %}"
                          >
                            <i class="fa fa-trash"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h5 style="color: red">☹️ You don't have any ad post.</h5>
          {% endif %}
          <!-- end table -->
        </div>

        <!-- pagination -->
        {% include "includes/pagination.html" %}
        <!-- pagination -->
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
