{% extends "base.html" %}
<!--  -->
{% load crispy_forms_tags %}

<!--  -->

{% block content %}

<section class="dashboard section">
  <!-- Container Start -->
  <div class="container">
    <!-- <div style="width: 90%; margin: auto"> -->
    <!-- Row Start -->
    <div class="row">
      <div class="col-lg-4">{% include "includes/user-profile-sidebar.html" %}</div>
      <div class="col-lg-8">
        <!-- Edit Profile Welcome Text -->
        <div class="widget welcome-message">
          <h2>Update Profile</h2>
        </div>
        <!-- Edit Personal Info -->

        <!-- profile info -->
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="widget personal-info">
              <h4 class="widget-header user">Edit Personal Information</h4>
              {% crispy form %}
            </div>
          </div>
        </div>
        <!-- end profile info -->
      </div>
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
</section>

{% endblock %}
